<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-10">
<%= form_for(@comment) do |f| %>
  <div class="field">
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "edit comment...", required: true %>
    <%= f.hidden_field :micropost_id,  value: @micropost.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
  <%= f.submit "Save change", class: "btn btn-primary" %>
<% end %>
</div>
</div>