<div class="row">
	<div class="col-md-2"></div>
<div class="col-md-10">
<h1>Edit Entry</h1>
<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class= "title1"><%= f.text_area :title, placeholder: "Edit title" %>
    </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Edit entry..." %>
  </div>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
</div>
</div>

